 <% layout("/layouts/boilerplate") -%>
<link rel="stylesheet" href="/css/clothes.css" />
<br></br><br></br>

<section class="donation-category-section py-5">
  <div class="container">
    <h2 class="section-title text-center mb-5 text-primary">Clothes We've Donated</h2>

    <!-- Row 1 -->
    <div class="row mb-4">
      <div class="col-lg-4 col-md-6 mb-4">
        <img src="/img/donated/clothes/img-1.jpeg" class="img-fluid rounded simple-img" alt="Clothes 1" />
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <img src="/img/donated/clothes/img-2.jpg" class="img-fluid rounded simple-img" alt="Clothes 2" />
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <img src="/img/donated/clothes/img-3.jpg" class="img-fluid rounded simple-img" alt="Clothes 3" />
      </div>
    </div>

    <!-- Row 2 -->
    <div class="row mb-5">
      <div class="col-lg-4 col-md-6 mb-4">
        <img src="/img/donated/clothes/img-4.png" class="img-fluid rounded simple-img" alt="Clothes 4" />
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <img src="/img/donated/clothes/img-5.jpeg" class="img-fluid rounded simple-img" alt="Clothes 5" />
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <img src="/img/donated/clothes/img-6.jpg" class="img-fluid rounded simple-img" alt="Clothes 6" />
      </div>
    </div>

    <!-- Thank You Message -->
    <div class="gratitude-message text-center">
      <h4 class="text-success font-weight-bold">Thank you for your kindness!</h4>
      <p class="text-muted">
        Your donated clothes have brought comfort to many lives. We truly appreciate your support.
      </p>
    </div>

    <!-- Connect Button -->
    <div class="text-center mt-4">
      <a href="/#contact" class="btn btn-outline-primary px-4 py-2">
        Connect With Us
      </a>
    </div>
  </div>
</section>
