<footer class="footer">
  <div class="container">
    <div class="row">

      <!-- Logo & Contact -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="footer-box">
          <h4 class="footer-title">HelpingHands</h4>
          <p>Contact No: <a href="tel:+917204521435">+91 7204521435</a></p>
          <p>Email: <a href="mailto:foundation@code.com">foundation@code.com</a></p>
        </div>
      </div>

      <!-- Quick Links -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="footer-box">
          <h4 class="footer-title">Quick Links</h4>
          <ul class="footer-links">
            <li><a href="/">Home</a></li>
            <li><a href="#donation">Donations</a></li>
            <li><a href="#mission-id">Missions</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a href="#contact">Contact Us</a></li>
          </ul>
        </div>
      </div>

      <!-- Social Media -->
      <div class="col-lg-4 col-md-12">
        <div class="footer-box">
          <h4 class="footer-title">Follow Us</h4>
          <div class="footer-social">
            <a href="https://facebook.com" target="_blank"><img src="/img/icons/facebook.png" alt="Facebook" /></a>
            <a href="https://www.instagram.com/donationboxofficial/?igsh=dXVwc25sYWduZzVu" target="_blank"><img src="/img/icons/instagram.png" alt="Instagram" /></a>
            <a href="https://youtu.be/MYoqUGdZMfI" target="_blank"><img src="/img/icons/youtube.png" alt="YouTube" /></a>
            <a href="https://linkedin.com" target="_blank"><img src="/img/icons/linkedin.png" alt="LinkedIn" /></a>
            <a href="mailto:foundation@code.com" target="_blank"><img src="/img/icons/gmail.png" alt="Gmail" /></a>
          </div>
        </div>
      </div>

    </div>

    <!-- Bottom Copyright -->
    <div class="footer-bottom text-center mt-4">
      <p>© 2025 <strong>HelpingHands</strong>. All rights reserved.</p>
    </div>
  </div>
</footer>
