<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="col-one">
                    <h4>HelpingHands</h4>
                    <p>Contact No: <a href="tel:+919353542289">+91 9353542289</a></p>
                    <p>Email: <a href="mailto:foundation@code.com">HelpingHands.com</a></p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="col-two">
                    <h4>Important Links</h4>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="#donation">Donations</a></li>
                        <li><a href="#mission-id">Missions</a></li>
                        <li><a href="#about">About us</a></li>
                        <li><a href="#contact">Contact us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="col-one">
                    <h4>Social Media</h4>
                    <div class="social">
                        <a href="https://facebook.com"><img src="/img/icons/facebook.png" alt="facebook"></a>
                        <a href="https://www.instagram.com/donationboxofficial/?igsh=dXVwc25sYWduZzVu"><img src="/img/icons/instagram.png" alt="instagram"></a>
                        <a href="https://youtu.be/MYoqUGdZMfI"><img src="/img/icons/youtube.png" alt="youtube"></a>
                        <a href="https://linkedin.com"><img src="/img/icons/linkedin.png" alt="linkedin"></a>
                        <a href="https://gmail.com"><img src="/img/icons/gmail.png" alt="gmail"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<p class="cp">Copyright © www.HelpingHands.com. All rights reserved</p>
